config server 'default'
	option ibeacon_enable '0'
	option power 'c9'
	option uuid ''
	option major ''
	option minor ''
	option name ''

config apply 'report'
	option enable '0'
	option server ''
	option port ''
	option interval '18'
	option window '18'
	option period '2'
	option mac ''
	option name ''
